body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
  }
#display_image{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    height: 150px;
    aspect-ratio: auto 150 / 150;
    width: 150px;
}
h3{
  border-bottom: 1px solid #cacaca;
}