h1{
    font-weight: bold;
    color: rgb(42, 100, 150);
    margin-bottom: 5px;
}
#name:link {
    text-decoration: none;
    color: rgb(42, 100, 150);
}
  
#name:visited {
text-decoration: none;
color: rgb(42, 100, 150);
}

#name:hover {
text-decoration: underline;
color: rgb(42, 100, 150);
}

#name:active {
text-decoration: underline;
color: rgb(42, 100, 150);
}
p{
        margin-top: 0;
        font-size: 14px; 
        color: rgb(42, 100, 150);
}
table{
    column-gap: auto;
}
.avatar {
    height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 50%;
  }
.dArrow{
    height: 35px;
    width: 35px;
  }
h3{
    background-color: rgb(42, 100, 150);
    color: white;
    font-weight: normal;
    padding: 5px 5px 5px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    border:1px solid #bbb;
  }
  
  li a {
    display: block;
    color: #494949;
    text-align: center;
    padding: 7px 10px;
    font-size: 13px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    border-top: thin solid #27AE60;
    border-bottom: none;
  }
  
  .active {
    border-top: thin solid #27AE60;
    border-bottom: none;
  }