@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    
}
form{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background: #fff;
}
.inputBox{
    margin: 0 10px;
    position: relative;
    width: 333px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.3s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    font-weight: bold;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
}
.inputBox input:focus ~ span{
    color: #1a73e8;
    border-left: 2px solid;
    border-right: 2px solid;
}
.inputBox input:focus
{
    border: 2px solid #1a73e8;
}
.submitBtn{
    background-color: #1a73e8;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}