@model LogIn_Form.Models.UserModel

@{
    ViewData["Title"] = "LogIn";
}


<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 m-auto">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="text-center mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                    <form asp-action="LogIn">
                        <h4 style="font-weight:bold; margin-bottom: 25px;">ABC MANAGEMENT SYSTEM</h4>
                        <div class="col-12 inputBox">
                            <input type="text" required="required">
                            <span>Username</span>
                        </div>
                        <div class="col-12 inputBox">
                            <input type="password" required="required">
                            <span>Password</span>
                        </div>
                        <button type="submit" value="LogIn" class="submitBtn" style="margin-top: 25px;">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
